* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    font-family: normal 1rem/1.5rem 'Noto Sans KR', sans-serif;
    background-color: #ff9641ef;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100vw;
    height: 100vh;
    /* padding: 20px; */
    background: rgba(0, 0, 0, .4);


}

p {
    color: #aaa;
    margin-bottom: 10px;
    font-size: 35pt;
}

p:hover {
    color: #fff
}

span {
    position: relative;
    font-weight: bold;
    color: #fff;
}

span::after {
    content: '';
    display: block;
    width: 0;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: 0px;
    background: rgba(239, 190, 85, 0.6);
}

p:hover span::after {
    width: 100%;
    transition: width .3s;
}